@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4"><a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Index">Welcome, click here to go to the registration page.</a></h3>
</div>
